@import '../../assets/scss/colors.scss';
@import '../../assets/responsive/responsive.scss';

.section-skills {
  .skills {
    .titre {
      text-align: center;
      h2 {
        font-size: 2.5rem;
        span {
          color: $LightBlue;
          font-size: 3rem;
        }
      }
    }

    .carousel .slide {
      background: #fff;
      border-radius: 10px;
      padding: 20px;
      margin: 20px;
    }

    .container {
      display : flex;
      justify-content: space-around;
      align-items: center;
      cursor: pointer;
      flex-wrap: wrap;
      margin-bottom: 50px;
      .card {
        padding: 20px;
        border: 1px solid #ddd; // Bordure de la carte
        border-radius: 10px; // Coins arrondis de la carte
        background: #fff; // Couleur de fond de la carte
        box-shadow: 0 10px 20px rgba(0,0,0,0.1); // Ombre portée de la carte
        transition: transform 0.5s;
        &:hover {
          box-shadow: 0 10px 20px rgba(0,0,0,0.2); // Ombre portée de la carte
          transform: scale(1.1);
        }
        img{
          width: 150px;
          height: 100%;
        }
        h3 {
          color: #ffff;
          margin-bottom: 10px;
        }

      }
    }
  }
}