@import '../../assets/scss/_colors.scss';
@import '../../assets/responsive/_responsive.scss';
@import '../../assets/scss/_typos.scss';

.section-apropos {
  background-color: $GreyPrimary;
  .apropos {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
    .titre {
      h2 {
        font-size: 2.5rem;
        font-family: 'Roboto', sans-serif;
        span {
            color: $LightBlue;
            font-size: 3rem;
        }
      }
    }

    .sep {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      padding : 2rem;

      .txtapropos {
        p {
          font-size: 1rem;
          line-height: 1.5rem;
          width: 100%;
          max-width: 350px;
          flex-wrap: wrap;
          font-family: 'Roboto', sans-serif;
          margin: 20px;

          span {
            color: $LightBlue;
            font-weight: bold;
          }

          @include mobile-large {
            max-width: 500px;
            font-size: 1.5rem;
            line-height: 2rem;
            margin: 10px;
          }
        }
      }


      .image {
          background-color: $MarinBlue;
          border-radius: 50%;
          margin-bottom: 50px;
          img {
            width: 250px;
            height: 250px;
            animation: move 2s infinite alternate;
            @keyframes move {
              0% { transform: translateX(0); }
              100% { transform: translateX(0.3cm); }
            }
          }
        }
    }
  }
}