@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.planet {
  position: absolute;
  width: 20vw;
}
.planet img {
  width: 75%;
  height: auto;
  object-fit: cover;
}
.planet img:hover {
  animation: shake 0.5s infinite;
}
.planet.planet-1 {
  top: 10vh;
  left: 5vw;
  animation: move 2s infinite alternate;
}
.planet.planet-2 {
  top: 20vh;
  left: 75vw;
  animation: orbit 15s infinite alternate;
}
.planet.planet-3 {
  Width: 30%;
  top: 75vh;
  left: 10vw;
  animation: orbit 15s infinite alternate;
}
.planet.planet-4 {
  Width: 10%;
  top: 93vh;
  left: 80vw;
}
.planet.planet-5 {
  Width: 10%;
  top: 150vh;
  left: 5vw;
  animation: move 5s infinite alternate;
}
.planet.planet-6 {
  z-index: 100;
  Width: 15%;
  top: 199vh;
  left: 82vw;
  animation: orbit 5s infinite alternate;
}
.planet.planet-7 {
  Width: 10%;
  top: 285vh;
  left: 5vw;
  animation: move 5s infinite alternate;
}
@media (max-width: 959px) {
  .planet {
    display: none;
  }
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0.9cm);
  }
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@keyframes orbit {
  0% {
    transform: rotate(0deg) translateX(20px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(20px) rotate(-360deg);
  }
}
Header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #145478;
}
Header .logo img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
Header .text {
  text-align: center;
}
Header .text h1 {
  font-size: 2.5rem;
  color: #FFFFFF;
  margin: 0 0 1rem 0;
  font-family: "Roboto", sans-serif;
}
Header .text h1 span {
  color: #5779D0;
}
Header .text p {
  color: #FFFFFF;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
Header .buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
Header .buttons button:first-child {
  margin: 0 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #5779D0;
  color: #FFFFFF;
  font-size: 1rem;
  cursor: pointer;
}
Header .buttons button:first-child a {
  text-decoration: none;
  color: #FFFFFF;
}
Header .buttons button {
  margin: 0 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #FFFFFF;
  font-size: 1rem;
  cursor: pointer;
}
Header .buttons button a {
  text-decoration: none;
  color: #5779D0;
}
Header .scrollcenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 10px;
}
Header .scrollcenter .scroll {
  width: 2em;
  height: 2em;
  background-color: transparent;
  z-index: 80;
  bottom: 25px;
  position: absolute;
  border-width: 0 0.25em 0.25em 0;
  border-style: solid;
  border-color: #e5e1e1;
  animation: scrolldown 1.2s ease-in-out infinite 0.15s;
}
Header .scrollcenter .scroll2 {
  width: 2em;
  height: 2em;
  background-color: transparent;
  z-index: 80;
  bottom: 40px;
  position: absolute;
  border-width: 0 0.25em 0.25em 0;
  border-style: solid;
  border-color: #e5e1e1;
  animation: scrolldown 1.2s ease-in-out infinite;
}
Header .scrollcenter .scroll, Header .scrollcenter .scroll2 {
  transform: translateY(0%) rotate(45deg);
  opacity: 0;
}
@keyframes scrolldown {
  0% {
    transform: translateY(20%) rotate(45deg);
    opacity: 0.7;
  }
  50% {
    transform: translateY(0%) rotate(45deg);
    opacity: 0.2;
  }
  100% {
    transform: translateY(20%) rotate(45deg);
    opacity: 0.7;
  }
}

/*# sourceMappingURL=header.css.map */
